{% extends 'base.html.twig' %}

{% block title %}coucou{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <label>
            {{ test.question }}
        </label>
        {{ form_widget(widg) }}
    {{ form_end(form) }}
{% endblock %}
