<form method="post" action="{{ path('scoff_test_delete', {'id': scoff_test.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scoff_test.id) }}">
    <button class="btn">Delete</button>
</form>
