{% extends 'base.html.twig' %}

{% block title %}New ScoffTest{% endblock %}

{% block body %}
    <h1>Create new ScoffTest</h1>

    {{ include('scoff_test_admin/_form.html.twig') }}

    <a href="{{ path('scoff_test_index') }}">back to list</a>
{% endblock %}
