{% extends 'base.html.twig' %}

{% block title %}Questionnaire SCOFF{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {% for scofftest in scofftests %}
        <label>
            {{ scofftest.question }}
        </label>
        {% for widg in widget.question %}
        {{ form_widget(form.question) }}
            {% endfor %}
    {% endfor %}
    {{ form_end(form) }}
{% endblock %}
