{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">I-Diag</h1>
                <p class="lead text-center">Cum nutrix cantare, omnes humani generises convertam dexter, mirabilis
                    fluctuies.</p>
            </div>
        </div>
    </header>
    <section class="list-content container">
        <div class="row justify-content-center">
            <h2 class="text-center">Liste des questionnaires</h2>
            <p class="col-9">Ubi est camerarius saga Est fatalis competition, cesaris.Pol, rusticus rector! Elogiums messis in brema!
                Vae, magnum coordinatae! Studere foris ducunt ad rusticus saga.</p>
        </div>
        <div class="row justify-content-center">
            <ul class="col-3">
                <li><a href="/">Binge Eating Scale (BES)</a></li>
                <li><a href="/">Echelle de Holmes</a></li>
                <li><a href="/">Echelle de Rodengberg</a></li>
                <li><a href="/">EQVOD</a></li>
                <li><a href="{{ path('scoff') }}">SCOFF</a></li>
                <li><a href="/">YFAS</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
